/**
 * --------------------------------------------------------------------
 * Nexa
 * --------------------------------------------------------------------
 */
@font-face{
  font-family:'Nexa Bold';
  font-display: swap;
  src:local('Nexa Bold'), url('fonts/Nexa-Bold.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}